<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<%= link_to  'Add new product', new_product_path %>
<%= link_to  'Products', products_path %>

<%= link_to  'Add new auction', new_user_auction_path %>
<%= link_to  'Auctions', user_auctions_path %>

<%= link_to  "Login", new_account_session_path %>
<%= link_to  "Logout", destroy_account_session_path, method: :delete %>
